<div id="header">
    <div class="container-fluid">
        <a href="https://andigital.com/"><img class="logo" src="https://static.andigital.com/logos/logo-transparent.png" alt="ANDigital"></a>
        <a href="https://foursquare.com/"><img class="foursquare-logo" src="src/assets/foursquare.png" alt="Foursquare"></a>
    </div>
</div>

<div id="main">
    <div class="container-fluid">
        <div class="row search">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="place">Show me venues around... </label>
                        <input type="text" class="form-control" id="place" placeholder="e.g. London, UK" autofocus>
                    </div>
                    <button type="button" id="search-btn" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
        <hr />
        <div class="row results">
            <% if (geocode) { %> 
                <div class="col-md-12">Recommended and popular venues around "<%= geocode.displayString %>"</div>
                <% if (venues.length > 0) { %>
                    <div id="map-canvas"></div>
                <% } else { %>
                    <div class="col-md-12">
                        <p>Sorry, no results were found for that location</p>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<div id="footer">
    <a target="_blank" href="https://www.facebook.com/andigital"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="https://www.twitter.com/andigital"><i class="fa fa-twitter"></i></a>
    <a target="_blank" href="https://www.linkedin.com/company/andigital"><i class="fa fa-linkedin"></i></a>
    <a target="_blank" href="https://vimeo.com/user25465299"><i class="fa fa-vimeo-square"></i></a>
    <a target="_blank" href="https://github.com/orgs/ANDigital"><i class="fa fa-github"></i></a>
    <a target="_blank" href="https://www.youtube.com/channel/UCpm1sKcUNt6QDe3fELC6kNw"><i class="fa fa-youtube"></i></a>
    <a target="_blank" href="http://careers.stackoverflow.com/uk/company/andigital"><i class="fa fa-stack-overflow"></i></a>
    <p>
        <a href="/privacy-policy">Privacy Policy</a>
        &nbsp;
        <a href="/terms-of-use">Terms of Use</a>
    </p>
    <div>
        <small>© 2015 ANDigital. All rights reserved.</small>
    </div>
</div>