<div class="marker-info">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <h3>
                <% if (typeof url !== 'undefined') { %>
                    <a href="<%= url %>" target="_blank"><%= name %></a></h2>
                <% } else { %>
                    <%= name %>
                <% } %>
            </h3>
            <h4><%= categories[0].name %></h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="rating text-center pull-right" style="background-color: #<%= ratingColor %>"><%= rating %></div>
        </div>
    </div>
    <div class="row">
        <% if (contact.phone) { %>
            <div class="col-md-12">
                <strong>Phone:</strong> <a href="tel:<%= contact.phone %>"><%= contact.formattedPhone %></a>
            </div>
        <% } %>
        <div class="col-md-12">
            <address>
                <strong>Address:</strong><br>
                <% _.each(location.formattedAddress, function (component) { %>
                    <% if(component !== "United Kingdom"){ %>
                        <%= component %><br>
                    <% } %>
                <% }) %>
            </address>
        </div>
    </div>
</div>